<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.it.ucf.edu/minerva/1.0.0/css/minerva.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
        <link rel="shortcut icon" href="https://cdn.it.ucf.edu/minerva/1.0.0/images/favicon_black.png" />
        <link rel="apple-touch-icon" href="https://cdn.it.ucf.edu/minerva/1.0.0/images/apple-touch-icon.png" />
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="stylesheets/directions.css">

    </head>
    <body>
        <!-- ucf bar -->
        <div id="ucfhb" class=" preload" role="complementary" aria-label="University of Central Florida navbar">
          <div id="ucfhb-inner" style="display: none;">
            <div id="ucfhb-left">
              <div id="ucfhb-logo">
                <a href="https://www.ucf.edu" aria-label="University of Central Florida"></a>
              </div>
            </div>
          </div>
        </div>
    
        <!-- header -->
        <header>
          <nav class="navbar navbar-dark navbar-expand-lg slim-nav slim-nav-dark">
            <div class="container">
              <a class="navbar-brand" href="/">Master Application Inventory Form</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="main-nav">
                <ul class="navbar-nav ml-md-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>

        <div class="container-fluid site-content" id="content">
          <div class="container">
            <h1>Home</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
            </ol>

            <div class="welcome-msg" id="welcome">
              <p >This <b>Master Application Inventory Management</b> form will be used to accurately inventory the applications used 
                by the entire UCF campus community and serve as a <b>source of truth</b> that will feed its data into other initiatives within 
                IT and the campus. Please take a moment to review the brief video below so you can learn how to help us MAP-IT! Login below to get started!
              </p>

              <p ><b>Thank you from the IT Enterprise Applications Team!</b></p>
            </div>


            <button id="login">Login</button>
            <button id="admin">Admin</button>

          </div>
        </div>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.it.ucf.edu/minerva/1.0.0/js/internal-header.js"></script>
    <script src="https://cdn.it.ucf.edu/minerva/1.0.0/js/minerva.js"></script>
    <script src="https://cdn.it.ucf.edu/assets/scrollsaver-3.min.js "></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="javascripts/index.js"></script>
</html>