<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.it.ucf.edu/minerva/1.0.0/css/minerva.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css">
        <link rel="shortcut icon" href="https://cdn.it.ucf.edu/minerva/1.0.0/images/favicon_black.png" />
        <link rel="apple-touch-icon" href="https://cdn.it.ucf.edu/minerva/1.0.0/images/apple-touch-icon.png" />
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="stylesheets/mai_form.css">
        <link rel="stylesheet" href="stylesheets/search.css">
        <link rel="stylesheet" href="stylesheets/directions.css">

      </head>
    <body>
        <!-- ucf bar -->
        <div id="ucfhb" class=" preload" role="complementary" aria-label="University of Central Florida navbar">
          <div id="ucfhb-inner" style="display: none;">
            <div id="ucfhb-left">
              <div id="ucfhb-logo">
                <a href="https://www.ucf.edu" aria-label="University of Central Florida"></a>
              </div>
            </div>
          </div>
        </div>
    
        <!-- header -->
        <header>
          <nav class="navbar navbar-dark navbar-expand-lg slim-nav slim-nav-dark">
            <div class="container">
              <a class="navbar-brand" href="/">Master Application Inventory Form</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="main-nav">
                <ul class="navbar-nav ml-md-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>

        <div class="container-fluid site-content" id="content">
          <div class="container">
            <h1>Search and Select</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/search">Search</a></li>

            </ol>

            <!-- Collapsible Instructions-->
            <div class="directions" id="search-directions">
              <button class="directions-btn">Instructions<span class="arrow">&#x25BC;</span></button>
              <div class="content" id="directions-menu">
                <p><b>Searching for Application:</b> Search for the application you would like to edit below. You can search by the name of the application or by owner/manager/collaborator.
                  If you would like to add an app, please search the desired name to ensure that the app does not already exist. If it does, please edit
                  the existing one and do not create a duplicate. If you cannot find the app or no apps match your search, you may add an app or make a new search.
                </p>
                <br>
                <p><b>Application Not Found?</b> After you click Add or Select Application you will be redirected to a form containing all of the current information for the app. Add application will
                  bring you to an empty form. 
                </p>
              </div>
            </div>

            <!-- Search Entry Form -->
                <div id="radio">
                  <p>Search By:</p>
                  <label for="radio"> Application Name</label>
                  <input type="radio" name="form-section" value="appName" checked>

                  <label for="radio">  Owner/Manager/Collaborator</label>
                  <input type="radio" name="form-section" value="ownerName">
                </div><br>

                  <form id="entry-form">
                    <div id="appName">
                      <label for="appName">Enter your Application Name</label>
                      <input type="text" id="appname" name="appname"><br><br>
                    </div>
                  
                    <div id="ownerName" hidden>
                    <label for="ownerName">Enter the Name of Owner / Collaborator / Manager</label>
                    <input type="text" id="ownername" name="ownerName"><br><br>
                    </div>
                    <button type="button" id="search-entry">Search for Entries</button>
                </form>

              <div id="search-result-div"></div>
                <table class ="table" id="entry-list" hidden>
                  <thead>
                    <tr id="key">
                      <th>Application Name</th>
                      <th>Normalized Name</th>
                      <th>Business Owner</th>
                      <th>Managed By</th>
                      <th>Select</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Entry rows to be added -->
                  </tbody>
                </table>


              <div id="error-div"></div>

              <button type="button" id="add-entry" hidden>Add Entry</button>
              <button type="button" id="new-search" hidden>New Search</button>
          </div>
        </div>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.it.ucf.edu/minerva/1.0.0/js/internal-header.js"></script>
    <script src="https://cdn.it.ucf.edu/minerva/1.0.0/js/minerva.js"></script>
    <script src="https://cdn.it.ucf.edu/assets/scrollsaver-3.min.js "></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.js"></script>
    <script src="javascripts/search.js"></script>
</html>